body {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: start;
}

.header-logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
}

.player {
    display: flex;
}

.player .album-art {
    width: 200px;
    height: auto;
    border-radius: var(--gap) 0 0 var(--gap);
    overflow: hidden;
    margin: calc(var(--gap) * -1);
    margin-right: var(--gap);
}

.controls {
    margin-bottom: calc(var(--gap) * -1);
}

.player .stack {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}